body > div > div.row > div > h1, body > div > div.row > div > h2 {
    color: white;
    margin-top: 7px;
    text-shadow: 0px 0px 13px #666363;
}
body > div > div.grandParentContaniner > div > div > div > div > form > button {
    height: 40px;
}

Html, body {
    height: 100%;
}
.grandParentContaniner {
    width: 100%;
    display: table;
    height: 100%;
    position: absolute;
}
.parentContainer {
    display: table-cell;
    vertical-align: middle;
}

.parentForm {
    margin: 0 auto;
    width: 477px;
}

body > div > div.grandParentContaniner > div > div > div > div > form > button {
    background-color: #2593e9;
    border-color: #2593e9;
    color: white;
    font-size: 20px;
}

body > div > div.grandParentContaniner > div > div > div > div > form > button:hover {
    background-color: #2ea2fc;
    border-color: #2ea2fc;
    color: white;
}

.lg-header {
    background: url("img/header.jpg") no-repeat;
    width: 520px;
    height: 114px;
}
.lg-content {
    background: url("img/bg.jpg");
    width: 505px;
    height: auto;
    color: white;
    padding: 6px 0px 6px 51px;
    padding-bottom: 30px;
}
.lg-title {
    margin-right: 7px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px #000000;
}
.lg-text {
    font-size: 14px;
    color: white;
}
.lg-name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #FCFF04;
    text-shadow: 1px 2px 2px #000000;
}
.lg-ipt {
    font-size: 14px;
    width: 200px;
    color: #000000;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.lg-btn {
    margin-right: 10px;
    margin-top: 5px;
    font-size: 14px;
    padding: 2px 7px;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #000000;
    background: #f6f60f;
}
.lg-footer {
    background: url("img/footer.jpg");
    width: 505px;
    height: auto;
}
.lg-line {
    background: url("img/line.jpg") no-repeat;
    clear: both;
    height: 1px;
    float: left;
    width: 100%;
}
.lg-bg {
    background: url("img/background.png") no-repeat;
    background-size: cover;
}