.p-d-none {
    padding: 0;
}

.top-navigation .nav > li > a.icon_bell {
    padding: 20px 10px;
}

.top-navigation .nav > li > a {
    padding: 20px 20px;
}

.navbar-brand {

}

.top-navigation .navbar-brand {
    padding: 20px 25px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.combobox:nth-child(1) {
    padding-right: 5px;
}

.combobox:nth-child(2) {
    padding-right: 0px;
    padding-left: 0px;

}

.combobox:nth-child(3) {
    padding-left: 5px;
}

.combobox:nth-child(4) {
    padding-left: 0px;
    padding-right: 10px;
}

.textbox:nth-child(1) {
    padding-right: 5px;
}

.textbox:nth-child(2) {
    padding-left: 20px;
    padding-right: 5px;

}

.textbox:nth-child(3) {
    padding-left: 0px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar ul {
    background: linear-gradient(to top, rgb(24, 110, 166), rgb(32, 144, 216)) !important;
    border-right: 1px solid #5d95d6 !important;
}

.navbar ul > li {
    background: #0177d7 !important;
}

.dropdown-menu > li > a {
    padding: 5px 10px 0px 10px !important;
}

ul.navbar-nav > li > a {
    padding: 15px 10px 15px 10px !important;
}

.navbar ul a {
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.navbar ul a:hover, .navbar ul a:focus, .navbar ul a:active, #btnHomePage:hover, #btnHomePage:focus, #btnHomePage:active {
    background: #025fab !important;
}

#worklifeTopMenu {
    background: #0177d7 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #025fab !important;
}

table tbody input, table tbody textarea {
    width: 100% !important;
}

.labelAttachFile {
    color: #0058ff;
    text-decoration: underline;
    cursor: pointer;
}

body {
    font-family: Arial !important;
    font-size: 13px !important;
    color: black !important
}

table tbody, .select2-selection__choice, .select2-hidden-accessible {
    font-size: 15px !important;
    color: black !important;
    font-family: Arial !important;
}

input[type="text"], textarea, select {
    font-size: 15px !important;
    color: black !important;
    font-family: Verdana, sans-serif !important;
}

input[type="text"]:focus, textarea.form-control:focus, select.form-control:focus {
    border: 1px solid rgb(35, 98, 159);
    outline: none !important;
    box-shadow: 0 0 7px #719ECE;
}

table input[type="text"]:focus, table textarea.form-control:focus, table select.form-control:focus {
    border: 0px !important;
    outline: none !important;
    box-shadow: 0px !important;
}

.top-navigation .navbar-brand {
    background: #0177d7 !important;
    color: white !important;
    padding: 15px 25px !important;
}

#tabs > .nav.nav-tabs > li.active > a {
    background-color: #0177d7 !important;
    color: #FFFFFF !important;
}

#tabs > .nav.nav-tabs > li > a {
    color: rgb(35, 98, 159) !important;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #e1e3ea;
}

.ibox-title h4, h5, h1, h2, h3 {
    margin: 0px !important;
    font-weight: bold;
}

@media ( min-width: 992px) {
    .resize .col-md-2 {
        width: 14.28% !important;
    }
}

div#col-1.col-md-4 {
    padding-right: 3px;
}

div#col-2.col-md-4 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-3.col-md-4 {
    padding-left: 3px;
}

div#col-4.col-md-4 {
    padding-right: 3px;
}

div#col-5.col-md-2 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-6.col-md-2 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-14.col-md-2 {
    padding-left: 3px;
}

div#col-20.col-md-2 {
    padding-right: 3px;
}

div#col-7.col-md-4 {
    padding-left: 3px;
}

div#col-8.col-md-3 {
    padding-right: 3px;
}

div#col-9.col-md-3 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-10.col-md-3 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-11.col-md-3 {
    padding-left: 3px;
}

div#col-12.col-md-4 {
    padding-right: 3px;
}

div#col-13.col-md-4 {
    padding-left: 3px;
}

div#col-15.col-md-6 {
    padding-left: 3px;
}

div#col-16.col-md-6 {

    padding-right: 3px;
}

div#col-19.col-md-6 {
    padding-left: 3px;
    padding-right: 3px;
}

div#col-17.col-md-5 {
    padding-right: 3px;
}

div#col-18.col-md-5 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-20.col-md-5 {
    padding-left: 3px;
}

div#col-1.col-lg-4 {
    padding-right: 3px;
}

div#col-2.col-lg-4 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-1.col-lg-2 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-2.col-lg-2 {
    padding-right: 3px;
    padding-left: 3px;
}

div#col-1.col-md-3.inline {
    padding-right: 3px;
}

div#col-1.col-md-9 {
    padding-right: 3px;
}

div#col-1.col-md-6.inline {
    padding-right: 3px;
}

div.col-md-offset-2.col-md-2 {
    padding-right: 3px;
}

div.col-md-8 {
    padding-right: 3px;
}

.p-d-none {
    padding: 0;
}

.top-navigation .nav > li > a.icon_bell {
    padding: 20px 10px;
}

.top-navigation .nav > li > a {
    padding: 20px 20px;
}

.navbar-brand {

}

.menupccc .navbar-header {
    border-right: 1px solid #5d95d6 !important;
    height: 50px !important;
}

.menupccc #btnHomePage {
    height: 50px !important;
    border-right: 1px solid #5d95d6 !important;
}

.menupccc .dropdown-submenu {

}

.menupccc #menuDVCSPCCC li {

}

.menupccc #worklifeTopMenu .dropdown-menu a {
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.menupccc .navbar-right {
    height: 54px !important;
}

.menupccc .dropdown {
    height: 50px !important;
}

.menupccc .active {
    height: 50px !important;
}

.menupccc .navbar-right > li:nth-child(3) {
    height: 50px !important;
}

/* .menupccc .dropdown a{
	height: 50px !important;
} */
.menupccc .active a {
    height: 50px !important;
}

.menupccc .navbar-right li:nth-child(3) a {
    height: 50px !important;
}

.menupccc .navbar-right li a {
    height: 54px !important;
}

.menupccc .navbar-right li:nth-child(3) a {
    height: 54px !important;
}

.menupccc #worklifeTopMenu ul:hover > ul {
    display: block;
}

.menupccc #worklifeTopMenu ul li:hover > ul {
    display: block;
}

.menupccc .navbar-right li:hover ul {
    display: none;
}

.navbar-static-top {
    margin-bottom: 0;
}

.top-navigation .navbar-brand {
    padding: 20px 25px;
}

.dropdown-submenu {
    position: relative;
}

.menupccc .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px !important;
    margin-left: 0px !important;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

nav#menu-m .navbar navbar-static-top {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -5px;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
}

.menupccc .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 8px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 0px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar ul {
    background: linear-gradient(to top, rgb(24, 110, 166), rgb(32, 144, 216)) !important;
    border-right: 1px solid #5d95d6 !important;
}

.menupccc #menuDVCSPCCC li {
    height: 30px !important;
}

.menupccc #menuDVCSPCCC li:nth-child(7) a {
    height: 29px !important;
}

.menupccc #menuTK li {
    height: 30px !important;
}

.menupccc #menuTK li:nth-child(8) a {
    height: 29px !important;
}

.menupccc #menuTK li:nth-child(5) a {
    height: 29px !important;
}

.menupccc #menubc li {
    height: 30px !important;
}

.menupccc #menubc li:nth-child(4) a {
    height: 29px !important;
}

.menupccc #menumap li {
    height: 30px !important;
}

.menupccc #menuQTHT li {
    height: 30px !important;
}

.menupccc #menuQTHT li:nth-child(3) a {
    height: 29px !important;
}

.menupccc #menumap li:nth-child(6) a {
    height: 29px !important;
}

.menupccc #menuDVPCCC li:nth-child(2) a {
    height: 29px !important;
}

.menupccc #menuNNCC li:nth-child(2) a {
    height: 29px !important;
}

.menupccc #menuLLTC li:nth-child(2) a {
    height: 29px !important;
}

.menupccc #menuQLVVCN li:nth-child(3) a {
    height: 29px !important;
}

.menupccc .navbar-toggle {
    background-color: #0177d7 !important;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
}

.navbar ul > li {
    background: linear-gradient(to top, rgb(24, 110, 166), rgb(32, 144, 216)) !important
}

.dropdown-menu > li > a {
    padding: 5px 10px 0px 10px !important;
}

ul.navbar-nav > li > a {
    padding: 15px 10px 15px 10px !important;
}

.navbar ul a {
    color: white !important;
    font-size: 13px;
    font-weight: bold;
}

.navbar ul a:hover, .navbar ul a:focus, .navbar ul a:active, #btnHomePage:hover, #btnHomePage:focus, #btnHomePage:active {
    background: #025fab !important;
}

.menupccc #worklifeTopMenu {
    background: #0177d7 !important;
}

.navbar-right {
    margin-top: -4px;
}

.menupccc #menuQTHT {
    width: 100%;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #025fab !important;
}

table tbody input, table tbody textarea {
    width: 100% !important;
}

.labelAttachFile {
    color: #0058ff;
    text-decoration: underline;
    cursor: pointer;
}

table tbody, .select2-selection__choice, .select2-hidden-accessible {
    font-size: 15px !important;
    color: black !important;
    font-family: Arial !important;
}

input[type="text"], textarea, select {
    font-size: 15px !important;
    color: black !important;
    font-family: Verdana, sans-serif !important;
}

input[type="text"], .fileinput, .select2, input[type="password"], textarea.form-control, select.form-control, input[type="text"]:focus, textarea.form-control:focus, select.form-control:focus {
    border: 1px solid rgb(35, 98, 159);
    outline: none !important;
}

.top-navigation .navbar-brand {
    background: #1ab394 !important;
    color: white !important;
    padding: 15px 25px !important;
}

#tabs > .nav.nav-tabs > li.active > a {
    background-color: #0177d7 !important;
    color: #FFFFFF !important;
}

#tabs > .nav.nav-tabs > li > a {
    color: rgb(255, 255, 255) !important;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(35, 98, 159);
}

.ibox-title h4, h5, h1, h2, h3 {
    margin: 0px !important;
    font-weight: bold;
}

@media ( min-width: 992px) {
    .resize .col-md-2 {
        width: 14.28% !important;
    }

    label {
        font-size: 14px !important;
    }
}

.top-navigation .wrapper.wrapper-content {
    padding: 0 5px 40px 5px !important;
}

body {
    background-color: #f3f3f4;
}

td {
    vertical-align: middle !important;
}

table select, table input[type="text"] {
    width: 100% !important;
}

.attachFile {
    text-decoration: underline;
    cursor: pointer;
    color: #337ab7;
    font-weight: 500
}

.deleteFileIcon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px !important;
    display: none !important;
}

.attackFile:hover .deleteFileIcon {
    display: inline !important;
}

input.custom-error {
    border: 1px dotted #cc5965 !important;
}

label.custom-error {
    color: #cc5965 !important;
}

input.custom-updated {
    border: 1px solid orange !important;
}

label.error {
    color: rgb(192, 0, 0);
    font-weight: 700 !important;
}

input.error, select.error {
    border: 1px dotted rgb(192, 0, 0) !important;
}

/*select.custom-updated{
	border: 1px solid orange !important;
}
input.custom-updated{
	border: 1px solid orange !important;
}*/
.popover {
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.custom-updated {
    border: 1px solid orange !important;
}

.lbhidden {
    content: ".";
    display: list-item;
    visibility: hidden;
}

table thead th {
    vertical-align: middle !important;
    background: rgb(177, 211, 250) !important;
    color: black;

}

table {
    border-right: 1px solid rgb(35, 98, 159) !important;
    border-bottom: 1px solid rgb(35, 98, 159) !important;
}

td {
    border-left: 1px solid rgb(35, 98, 159) !important;
    border-top: 1px solid rgb(35, 98, 159) !important;
}

th {
    border-left: 1px solid rgb(35, 98, 159) !important;
    border-top: 1px solid rgb(35, 98, 159) !important;
    text-align: center !important;
}

.ibox-content, .ibox-title {
    border: 2px solid #1ab394 !important;
}

.btn-primary, .btn-danger {
    background: rgb(48, 142, 251) !important;
    border: 1px solid black;
    color: #FFFFFF;
    font-weight: bold;
}

label {
    font-weight: 500 !important;

}

.icheckbox_square-green {
    border: 1px solid rgb(35, 98, 159);
}

tr.even {
    background-color: #edf9fe;

}

input[disabled], .select2-container--default.select2-container--disabled .select2-selection--multiple, select[disabled], input[readonly], textarea[readonly], textarea[disabled], .btn-file {
    background-color: #edf9fe !important;
}

.select2-selection__rendered input[type=search] {
    border: 0px !important;
}

th, td {
    vertical-align: middle !important;
}

table input[type="text"], table select.form-control {
    border: 0px !important;
    /* background-color:  #edf9fe; */
}

tr.even input[type="text"], tr.even select.form-control, tr.even textarea {
    background-color: #edf9fe;
}

tr.odd input[type="text"], tr.odd select.form-control, tr.odd textarea {
    background-color: white;
}

tr.odd {
    background: white;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: white;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background: #edf9fe;
}

.btn-red {
    background-color: rgb(150, 0, 0);
    border: 1px solid black;
    color: #FFFFFF;
}

.btn-red:hover {
    background-color: rgb(192, 0, 0);
    border: 1px solid black;
    color: #FFFFFF;
}

.decimal-table {
    text-align: center;

}

table [class*='decimal'], table [class*='integer'] {
    text-align: center;
}

.form-control {
    padding: 4px 3px !important;
}

[class*='col-md'] {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.selected {
    background-color: #acbad5 !important;
    color: #000000;
}

.customrow .col-md-2 {
    width: 14.28% !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

table thead th span {
    margin: 0 !important;
    padding: 0 5px !important;
}

.table > tbody > tr > td textarea {
    width: 100% !important;
    border: none !important;
}

.tablePadding > tbody > tr > td {
    padding: 0px 4px;
}

@media (min-width: 768px) {
    .statistic #page-wrapper {
        position: inherit;
        /* margin: 0 0 0 240px; */
        min-height: 0;
    }
}

.statistic .footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

.statistic .wrapper {
    min-height: 800px;
}

.statistic table thead th {
    border: 0px !important;
}

.statistic table thead tr:nth-child(1) th {
    border-bottom: 0px !important;
    border-left: 1px solid rgb(35, 98, 159) !important;

}

.statistic table tbody tr:nth-child(1) td {
    border-top: 0px !important;
}

.statistic .rowspan {
    border-top: 1px solid rgb(35, 98, 159) !important;
    border-bottom: 0px !important;
}

.paddingLeft15 {
    padding-left: 15px !important;
}

.gray-bg {
    background-color: #4ebee9;
}

.navbar {
    background: linear-gradient(to top, rgb(24, 110, 166), rgb(32, 144, 216)) !important;
}

.nav-tabs .active > a {
    background: rgb(150, 0, 0) !important;
    padding: 15px;
}

.nav-tabs a {
    background: rgb(192, 0, 0) !important;
    color: #FFFFFF !important;
    border: 1px solid white !important;
    padding: 15px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
}

.nav-tabs > li > a {
    padding: 10px 20px 10px 18px !important;
}

.menupccc #worklifeTopMenu {
    background: linear-gradient(to top, rgb(24, 110, 166), rgb(32, 144, 216)) !important;
}

#worklifeTopMenu ul {
    margin-top: 10px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    margin-bottom: 10px !important;
}

#worklifeTopMenu > ul > li {
    margin-right: 5px;
}

#worklifeTopMenu ul li {
    border: transparent;

}

#worklifeTopMenu ul li a {
    padding: 10px !important;
}

.tab-menu .ibox-border-top {
    border-top: 2px solid #1ab394 !important;
}

.margin-5 {
    margin-left: -5px !important;
    margin-right: -5px !important;
}

input[type=search] {
    border: 1px solid rgb(35, 98, 159) !important;
}

input.es-input {
    background: white !important;
}

.tabs-container .nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs {
    border-bottom: 0px !important;
}

[class *= col-sm] {
    padding: 0px !important;
}

.btn-file {
    margin-bottom: 0px !important;
    margin-left: -3.5px !important;
    border-left: 0px;
    border-right: 1px solid rgb(35, 98, 159);
    border-top: 1px solid rgb(35, 98, 159);
    border-bottom: 1px solid rgb(35, 98, 159);
    border-radius: 0px !important;
}

.btn-file:hover {
    border-left: 0px;
    border-right: 1px solid rgb(35, 98, 159);
    border-top: 1px solid rgb(35, 98, 159);
    border-bottom: 1px solid rgb(35, 98, 159);
    background-color: #c2ebfc !important;
}

.lbhidden {
    content: ".";
    display: list-item;
    visibility: hidden;
}

.top-buffer {
    margin-top: 15px;
}
