@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
.lbhidden {
	content: ".";
    display: list-item;
    visibility: hidden;
}
textarea{
    resize: none;
}
#page-wrapper
@media (min-width: 1024px) {
  #page-wrapper {
     width: 70%!important
  }
}
.validatenumber {
	border: 1px dotted #cc5965;
}
.p-r-none {
	padding-right: 0;
}
.p-b-lg {
	padding-bottom: 30px
}
.fix_date input{
	position: relative;	
}
.fix_date span{
	position: absolute;
	top: 1px;
	right: 1px;
	border: 0;
	border-left: 1px solid #E5E6E7 !important;
	width: 41px;
	padding: 8px 12px;
	z-index: 9;
}