.top-navigation .wrapper.wrapper-content{
	padding: 0 !important;
}
.row{
	padding-bottom: 10px !important;
}
.selected {
	background: #F5F5F6;
}
.attachFile {
	text-decoration: underline;
	cursor: pointer;
	color: #337ab7;
	font-weight: 500
}
.footer {
	position: relative !important;
}
textarea { resize: vertical !important; }
tr td {
	vertical-align: middle !important;
}